<div class="flex justify-end p-4">
  <label for="theme-selector" class="mr-2 text-gray-700">Select Theme:</label>
  <select id="theme-selector" class="border border-gray-300 rounded px-3 py-2 bg-white">
    <option value="light">Light</option>
    <option value="dark">Dark</option>
    <option value="solarized">Solarized</option>
  </select>
</div>